<%- include('./partials/header.ejs') %>
<%- include('./navbar.ejs') %>
<div class="container">
    <div class="row mt-5">
        <h1>Home Page</h1>
        <hr>
        <p>Home page contents</p>
    </div>
</div>
<%- include('./partials/footer.ejs') %>